@import './reset.scss';
@import './grid.scss';

@mixin categoryIcon($size, $color, $categoryAbbr) {
  background-color: lighten($color, 35%);
  color: $color;
  height: $size;
  min-width: $size;
  width: $size;

  &::after {
    content: $categoryAbbr;
  }
}

* {
  box-sizing: border-box;
}

$background: #f3f3f7;
$white: #fff;
$gray: #86899e;
$accent: #7142eb;
$text: #3d3b48;
$accentLight: #f4f0fe;
$design: #3c79e4;
$programming: #7142eb;
$business: #1ecfae;
$recruitment: #eb4288;
$web: #eb42bc;
$categoryIconSize: 36px;


body {
  background-color: $background;
  font-family: 'Montserrat', sans-serif;
  color: $text;
}

// .arrow-up {
//   width: 0; 
//   height: 0; 
//   border-left: 5px solid transparent;
//   border-right: 5px solid transparent;
//   border-bottom: 5px solid black;
// }

// .arrow-down {
//   width: 0; 
//   height: 0; 
//   border-left: 20px solid transparent;
//   border-right: 20px solid transparent;
//   border-top: 20px solid #f00;
// }

.container {
  // media queries 
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  background-color: $white;
  display: flex;
  height: 110px;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 2px 69px 0 rgba(13, 13, 30, 0.04);
  padding: 0 40px;

  &__logo {

  }

  &__navigation {

  }

  &__menu {

  }

  &__menu-item {
    display: inline-block;
    margin-left: 60px;
    &:first-of-type {
      color: $accent;
    }
  }
}

.header-login {
  flex-grow: 2;

  &__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    display: inline-block;
  }

  &__avatar {
    height: 50px;
    width: 50px;
    box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.1);
    border-radius: 100%;
  }

  &__username {
    padding: 0 30px;
  }
}

.search {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  height: 200px;


  &__form {
    margin-top: 80px;
    height: 70px;
  }

  &__input {
    height: 100%;
    width: 675px;
    border: none;
    box-shadow: 4px 57px 67px 0 rgba(75, 82, 113, 0.09);
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 30px;

    &::placeholder {
      color: $gray;
    }
  }

  // TODO: center vertically

  &__loupe-wrapper {
    display: inline-block;
    margin-left: -40px;
  }

  &__loupe {
    height: 28px;
    width: 28px;
  }

  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 30px;
    height: calc(100% + 2px);
    border: none;
    background: $white;
    font-size: 17px;
    color: $gray;
    font-weight: bold;
    box-shadow: 4px 57px 67px 0 rgba(75, 82, 113, 0.09);
    margin-left: 40px;
  }
}

.booklist {
  &__row-heading {
  }

  &__heading {
    color: $gray;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  &__row-data {
    background-color: $white;
  }

  &__column-title {

  }

  &__column-author {
    font-weight: bold;
  }

  &__column-rating {
    font-weight: bold;
  }

  &__category-icon {
    align-items: center;
    border-radius: 100%;
    display: flex;
    font-weight: bold;
    justify-content: center;

    &--design {
      @include categoryIcon($categoryIconSize, $design, 'D');
    }

    &--programming {
      @include categoryIcon($categoryIconSize, $programming, 'P');
    }

    &--business {
      @include categoryIcon($categoryIconSize, $business, 'B');
    }

    &--recruitment {
      @include categoryIcon($categoryIconSize, $recruitment, 'R');
    }

    &--web {
      @include categoryIcon($categoryIconSize, $web, 'W');
    }
  }

  &__column-category {
    color: $gray;
    margin-left: 20px;
  }

  &__column-status {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
  }

  &__status-button {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;

    &--take {
      background-color: $accentLight;
      color: $accent;
    }

    &--return {
      background-image: linear-gradient(to right, #865ee8, #6536e2);
      color: $accentLight;
    }
  }

  &__avatar {
    @extend .header-login__avatar;
  }

  &__status-details-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 15px;
  }

  &__status-detail-time {
    font-size: 16px;
    color: $gray;
  }

  &__status-detail-name {
    font-weight: bold;
  }
}
