html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// TODO: think about color variables names :/

$background: #f3f3f7;
$white: #fff;
$gray: #86899e;
$accent: #7142eb;

body {
  background-color: $background;
  font-family: 'Montserrat', sans-serif;
}

.container {
  // media queries 
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  background-color: $white;
  display: flex;
  height: 110px;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 2px 69px 0 rgba(13, 13, 30, 0.04);

  &__logo {

  }

  &__navigation {

  }

  &__menu {

  }

  &__menu-item {
    display: inline-block;
    margin-left: 60px;
    &:first-of-type {
      color: $accent;
    }
  }
}

.header-login {
  flex-grow: 2;

  &__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    display: inline-block;
  }

  &__avatar {
    height: 50px;
    width: 50px;
    box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.1);
    border-radius: 100%;
  }

  &__username {
    color: $gray;
    padding: 0 30px;
  }
}

.search {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  border: 1px dotted blue;
  height: 200px;

  &__form {
    margin-top: 80px;
    height: 70px;
  }

  &__input {
    height: 100%;
    width: 675px;
    border: none;
    box-shadow: 4px 57px 67px 0 rgba(75, 82, 113, 0.09);
  }

  &__select {
    height: 100%;
    border: none;
    background: $white;
    border-bottom-left-radius: 0 !important;

  }
}

.book-list {
  border: 1px dotted magenta;

  &__header {
    color: $gray;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
}
